<div class = "container">
  <div class = "row mt-3">
    <div class = "col-md-7">

      <h2>Sign up</h2>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :postcode, '郵便番号' %>
          <%= f.text_field :postcode, autocomplete: 'postcode', class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :prefecture_name, '都道府県' %>
          <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :address_city, '市区町村' %>
          <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :address_street, '番地' %>
          <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
        </div>
        <div class="field">
          <%= f.label :address_building, '建物' %>
          <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>