<div class = "container">
  <div class = "row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Edit Group</h1>
      <%= form_with model: @group do |f| %>
        <h4>グループ名</h4>
        <%= f.text_field :name ,class:"form-control"%>

        <h4>紹介文</h4>
        <%= f.text_area :introduction ,class:"form-control"%>

        <h4>グループ画像</h4>
        <%= f.file_field :profile_image, accept: "image/*" , class: "from-control" %>

        <%= f.submit class: "btn btn-info d-block mt-3" %>
      <% end %>

      
    </div>
  </div>
</div>