<div class='col-md-3'>
  <h2>User info</h2>
  <table class='table'>
    <tbody>
      <tr><%= image_tag user.get_profile_image(100,100) %></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>

  <h1>New book</h1>
  <%= form_with model: book do |f| %>

    <h4>title</h4>
    <%= f.text_field :title ,class:" btn-block" %>

    <h4>opinion</h4>
    <%= f.text_area :body ,class:" btn-block"%>
    <h4>tag</h4>
    <%= f.text_field :tag_name ,class:" btn-block" %>

    <div id="post_raty"></div>
    <script>
      // scriptファイルをどのidの部分に配置するかを指定
      let elem = document.querySelector('#post_raty');
      let opt = {  
        //星画像の指定などのオプションをここに記述,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'book[star]',
      half: true
      };
      raty(elem,opt);
    </script>
    
    <%= f.submit 'Create Book', class: "btn btn-success btn-block"%>
  <% end %>
</div>