<h2>User info</h2>
<table class='table'>
  <tbody>
    <tr><%= image_tag user.get_profile_image(100,100) %></tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>郵便番号</th>
      <th><%= user.postcode %></th>
    <tr>
      <th>都道府県</th>
      <th><%= user.prefecture_name %></th>
    </tr>
    <tr>
      <th>市区町村</th>
      <th><%= user.address_city %></th>
    </tr>
    <tr>
      <th>番地</th>
      <th><%= user.address_street %></th>
    </tr>
    <tr>
      <th>フォロー数</th>
        <th>
        <%= link_to user_followings_path(user) do %>
          <%= user.followings.count %>
        <% end %>
      </th>
    </tr>
    <tr>
      <th>フォロワー数</th>
      <th>
        <%= link_to user_followers_path(user) do %>
          <%= user.followers.count %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
<div>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>

