<div class='col-md-3'>
  <h2>User info</h2>
  <table class='table'>
    <tbody>
      <tr><%= image_tag user.get_profile_image(100,100) %></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  
    <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>

  <h1>New book</h1>
  <%= form_with model: book do |f| %>

    <h4>title</h4>
    <%= f.text_field :title ,class:" btn-block" %>

    <h4>opinion</h4>
    <%= f.text_area :body ,class:" btn-block"%>
    
    <%= f.submit 'Create Book', class: "btn btn-success btn-block"%>
  <% end %>
</div>