<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
     <h1>Use info</h1>

      <% if @user.errors.any? %>
        <%= @user.errors.count %>errors prohibited this book from being saved:
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
       <div class="form_grop">
         <h4>Name</h4>
         <%= f.text_field :name , class: "form-control user_name" %>
       </div>

        <div>
         <h4>Image</h4>
         <%= f.file_field :profile_image, accept: "image/*" , class: "from-control uesr_profile_image" %>
        </div>

        <div>
         <h4>Introduction</h4>
         <%= f.text_area :introduction , class: "form-control user_introduction" %>
        </div>

         <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "email" %>
      </div>
      <div class="field">
        <%= f.label :postcode, '郵便番号' %>
        <%= f.text_field :postalcode, autocomplete: 'postalcode', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :prefecture_name, '都道府県' %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { include_blank: '選択してください', selected: current_user.prefecture_code}, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :address_city, '市区町村' %>
        <%= f.text_field :address_city, autocomplete: 'address_city', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :address_street, '番地' %>
        <%= f.text_field :address_street, autocomplete: 'address_street', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :address_building, '建物' %>
        <%= f.text_field :address_building, autocomplete: 'address_building', class: 'form-control' %>
      </div>

        <div>
         <%= f.submit 'Update User',class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>